@tailwind preflight;
@tailwind utilities;

@screen lg {
  .w-500 {
    width: 500px;
  }
}

@import './highlight.css'

* {
  box-sizing: border-box;
}

a {
  color: #f6993f;
  text-decoration: none;
}

input {
  outline: none;
}

a:hover {
  color: orange;
}

